/* Prettified by Source 2 Viewer 19.2.0.0 - https://valveresourceformat.github.io */

#Contents
{
	padding: 0px;
	margin: 0px;
	background-color: #10171c00;
	border: 0px solid black;
	flow-children: none;
	box-shadow: #00000000 0px 0px 8px 0px;
}

.ServiceCurrencyListTooltip
{
	width: 460px;
	flow-children: none;
}

.ServiceCurrencyListTooltipBG
{
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 0% 0%, 100% 100%, from( #13091eee ), color-stop( 0.55, #241032ee ), to( #090611f4 ) );
	border: 1px solid #d5aaf7;
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( #ffb3ff ), color-stop( 0.45, #8c45ff ), to( #e58cff ) );
	border-radius: 6px;
	box-shadow: #000000aa 0px 0px 12px 0px;
}

.ServiceCurrencyListTooltipBody
{
	width: 100%;
	padding: 16px;
	flow-children: down;
}

.ServiceCurrencyListTooltipTitle
{
	horizontal-align: center;
	color: #f3ddff;
	font-size: 20px;
	font-weight: semi-bold;
	text-shadow: 0px 0px 5px 3 #000000;
	margin-bottom: 10px;
}

.ServiceCurrencyList
{
	width: 100%;
	flow-children: down;
}

.ServiceCurrencyListRow
{
	width: 100%;
	min-height: 48px;
	flow-children: right;
	margin-bottom: 8px;
}

.ServiceCurrencyListIcon
{
	width: 36px;
	height: 36px;
	vertical-align: center;
	margin-right: 10px;
}

.ServiceCurrencyListInfo
{
	width: fill-parent-flow( 1.0 );
	flow-children: down;
	vertical-align: center;
}

.ServiceCurrencyListName
{
	color: #ffffff;
	font-size: 17px;
	font-weight: semi-bold;
	text-shadow: 0px 0px 4px 2 #000000;
}

.ServiceCurrencyListDescription
{
	color: #bfaed0;
	font-size: 14px;
	text-overflow: shrink;
}

.ServiceCurrencyListAmount
{
	min-width: 70px;
	vertical-align: center;
	text-align: right;
	color: #ffd879;
	font-size: 18px;
	font-weight: semi-bold;
	text-shadow: 0px 0px 4px 2 #000000;
}

