/* Prettified by Source 2 Viewer 19.2.0.0 - https://valveresourceformat.github.io */

.root
{
	width: 30%;
	height: 30%;
	opacity: 0;
	horizontal-align: center;
	vertical-align: center;
}

.root_box
{
	width: 600px;
	height: 320px;
	background-image: url("s2r://panorama/images/custom_game/j_bac_png.vtex");
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	horizontal-align: center;
	flow-children: down;
	vertical-align: center;
}

.TitleText
{
	color: white;
	font-size: 25px;
	horizontal-align: center;
	vertical-align: center;
	margin-left: 40px;
}

.TitleBox
{
	width: 500px;
	height: 80px;
	horizontal-align: center;
}

.root_top1
{
	width: 450px;
	height: 25px;
	vertical-align: center;
	horizontal-align: center;
}

.root_top2
{
	width: 48px;
	height: 48px;
	vertical-align: center;
	horizontal-align: right;
	transition-property: brightness, pre-transform-scale2d, wash-color;
	transition-duration: 0.14s;
	transition-timing-function: ease-out;
}

.root_top2:hover
{
	brightness: 1.45;
	wash-color: #ffffff22;
	pre-transform-scale2d: 1.08;
}

.SkillPage
{
	flow-children: right;
	horizontal-align: center;
}

.SlotPage
{
	horizontal-align: center;
	flow-children: right;
	opacity: 0;
}

.title_image1
{
	width: 25px;
	height: 25px;
	horizontal-align: center;
	vertical-align: center;
}

.title_image
{
	width: 30px;
	height: 30px;
	horizontal-align: center;
	vertical-align: center;
}

.FuncBox
{
	flow-children: right;
	horizontal-align: center;
	margin-top: 21px;
}

.SlotBox
{
	width: 108px;
	height: 108px;
	flow-children: down;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin: 0 4.5px;
}

.BtnBox
{
	width: 108px;
	height: 37px;
}

.btn_1
{
	background-image: url("s2r://panorama/images/custom_game/j_5_png.vtex");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.btn_2
{
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-color: gradient( linear, 0% 0%, 0% 100%, from(#ffce7b), to(#cc8100) );
	box-shadow: 0px 1px 3px 0px #000000;
	border-radius: 2px 2px 2px 2px;
	height: 34px;
	margin-left: 15px;
}

.BtnBox .Text1
{
	font-size: 16px;
	color: #ffffff;
	text-align: center;
}

.BtnBox:hover
{
	brightness: 1.3;
}

.BoxData
{
	width: 108px;
	height: 108px;
	flow-children: down;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin: 0 4.5px;
}

.BoxData:hover
{
	brightness: 2;
}

.ImgBox
{
	width: 87px;
	height: 87px;
	horizontal-align: center;
	background-image: url("s2r://panorama/images/custom_game/j_2_png.vtex");
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	vertical-align: center;
	margin: 13px 0 0 5px;
}

.Img
{
	width: 80px;
	height: 80px;
	border: 0px solid #000000;
}

.TextBox
{
	width: 160px;
	height: 300px;
	horizontal-align: center;
	visibility: collapse;
}

.light_img
{
	background-image: url("s2r://panorama/images/custom_game/j_1_png.vtex");
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.SlotPage .ImgBox
{
	margin: 10px 0 0 5px;
}

.light_img .ImgBox
{
	background-image: none;
}

.light_img #skill_img
{
	border: 3px solid white;
}

.rank_0
{
	border: 3px solid #FF4482;
}

.rank_1
{
	border: 3px solid #FFEA00;
}

.rank_2
{
	border: 3px solid #F71AFF;
}

.rank_3
{
	border: 3px solid #008AFF;
}

.rank_4
{
	border: 3px solid #cccccc;
}

.light_img .Img
{
	border: 2px solid #ffffff;
}

.title_text_img
{
	horizontal-align: center;
	vertical-align: center;
}

