/* Prettified by Source 2 Viewer 19.2.0.0 - https://valveresourceformat.github.io */

.TopHud
{
	horizontal-align: center;
	flow-children: right;
}

.TopHud.InfinityMode .CurrentDifficult Label
{
	width: 130px;
	font-size: 18px;
	horizontal-align: center;
	text-align: center;
}

.CurrentWavePanel
{
	width: 130px;
	height: 42px;
	transform: translateX(5px);
	z-index: -1;
}

.CurrentWavePanel Label
{
	color: white;
	font-weight: semi-bold;
	font-size: 20px;
	align: center center;
	text-overflow: shrink;
	text-shadow: 0px 0px 5px 3 rgb(89, 51, 121);
}

.GameTimer
{
	width: 200px;
	height: 61px;
}

.GameTimer Label
{
	text-shadow: 0px 0px 5px 3 rgb(89, 51, 121);
	color: white;
	font-weight: semi-bold;
	font-size: 32px;
	vertical-align: center;
	align: center center;
	text-overflow: shrink;
	margin-bottom: 5px;
}

.GameTimer.DummyTrialTimer Label
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #fff8ff ), to( #d8a8ff ) );
	text-shadow: 0px 0px 7px 3 #5a337a, 0px 0px 12px 1 #000000;
}

.GameTimer.DummyTrialTimer .GameTimerBG
{
	brightness: 2.0;
	wash-color: #f0d4ff;
}

.CurrentDifficult
{
	width: 130px;
	height: 42px;
	transform: translateX(-10px);
	z-index: -1;
}

.CurrentDifficult Label
{
	color: white;
	font-weight: semi-bold;
	font-size: 16px;
	align: center center;
	text-overflow: shrink;
	text-shadow: 0px 0px 5px 3 rgb(89, 51, 121);
	font-size: 20px;
	width: 100px;
	height: 24px;
}

.CurrentWavePanelBG
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/game_hud/top_hud/top_hud_block_png.vtex");
	background-size: 100%;
	brightness: 1.7;
}

.GameTimerBG
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/game_hud/top_hud/timer_bg_new_png.vtex");
	background-size: 100%;
	brightness: 1.7;
}

.CurrentDifficultBG
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/game_hud/top_hud/top_hud_block_png.vtex");
	background-size: 100%;
	brightness: 1.7;
}

