/* Prettified by Source 2 Viewer 19.2.0.0 - https://valveresourceformat.github.io */

.UpgradeStatsLevel
{
	margin-left: 187px;
	ignore-parent-flow: true;
	width: 200px;
	min-height: 140px;
	transform: translateY(140px);
	opacity: 0;
	transition-property: transform, opacity;
	transition-duration: 0.3s;
	border-radius: 4px;
	background-image: url("s2r://panorama/images/game_hud/lower_hud/stats_bg_placeholder_png.vtex");
	background-size: 100%;
	border: 2px solid rgb(52, 33, 82);
	border: 2px solid rgb(63, 39, 102);
	border-bottom: 0px solid rgb(63, 39, 102);
	margin-bottom: 156px;
	vertical-align: bottom;
}

.UpgradeStatsLevel.OpenUpgrade
{
	transform: translateY(0px);
	opacity: 1;
}

.UpgradeStatsList
{
	vertical-align: center;
	horizontal-align: center;
	flow-children: down;
}

.UpgradeStat
{
	width: 180px;
	height: 25px;
	background-color: rgba(0, 0, 0, 0.9);
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 40px;
	box-shadow: hollow 0px 0px 5px 0px rgba(192, 156, 250, 0.144);
	transition-property: box-shadow;
	transition-duration: 0.1s;
}

.UpgradeStat:hover
{
	box-shadow: hollow 0px 0px 5px 0px rgba(192, 156, 250, 0.6);
}

.UpgradeStat Label
{
	color: white;
	font-weight: semi-bold;
	font-size: 16px;
	vertical-align: center;
	horizontal-align: center;
	text-overflow: shrink;
	text-align: center;
	width: 100%;
	margin-left: 5px;
	margin-right: 5px;
}

