/* Prettified by Source 2 Viewer 19.2.0.0 - https://valveresourceformat.github.io */

#Contents
{
	padding: 0px;
	margin: 0px;
	background-color: #10171c00;
	border: 0px solid black;
	flow-children: none;
	box-shadow: #00000000 0px 0px 8px 0px;
}

.card_tooltip
{
	width: 350px;
}

.TooltipBG
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/tooltips/bg_white_png.vtex");
	background-size: cover;
	margin-bottom: 0px;
	border-radius: 10px;
	brightness: 5;
	blur: gaussian (1px);
}

.TooltipBG2
{
	width: 100%;
	height: 100%;
	margin-bottom: 0px;
	border-radius: 10px;
	brightness: 5;
	opacity: 0.02;
	blur: gaussian (1px);
	background-image: url("s2r://panorama/images/tooltips/card_png.vtex");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.CardRarityCommon.TooltipBG
{
	wash-color: #b8bec7;
}

.CardRarityRare.TooltipBG
{
	wash-color: #5aa8ff;
}

.CardRarityEpic.TooltipBG
{
	wash-color: #c16bff;
}

.CardRarityLegendary.TooltipBG
{
	wash-color: #ffd54a;
}

.CardRarityMythical.TooltipBG
{
	wash-color: #ff3b30;
}

.CardRaritySSS.TooltipBG
{
	wash-color: #7dfcff;
}

.CardRarityCommon.TooltipBG2
{
	wash-color: #b8bec7;
}

.CardRarityRare.TooltipBG2
{
	wash-color: #5aa8ff;
}

.CardRarityEpic.TooltipBG2
{
	wash-color: #c16bff;
}

.CardRarityLegendary.TooltipBG2
{
	wash-color: #ffd54a;
}

.CardRarityMythical.TooltipBG2
{
	wash-color: #ff3b30;
}

.CardRaritySSS.TooltipBG2
{
	wash-color: #ff4df0;
}

.TooltipBorder
{
	width: 100%;
	height: 100%;
	border-image-source: url("s2r://panorama/images/tooltips/border_png.vtex");
	border-width: 30px;
	border-image-slice: 130px;
	z-index: 10;
	brightness: 2;
}

.TooltipBody
{
	width: 100%;
	flow-children: down;
	padding: 20px;
	padding-top: 10px;
}

.CardImagePanel
{
	horizontal-align: center;
	width: 100px;
	height: 130px;
	border: 1px solid gold;
	border-radius: 10px;
}

.CardImagePanel.CardRarityCommon
{
	border: 1px solid #b8bec7;
	box-shadow: 0px 0px 8px 0px #b8bec744;
}

.CardImagePanel.CardRarityRare
{
	border: 1px solid #5aa8ff;
	box-shadow: 0px 0px 8px 0px #5aa8ff44;
}

.CardImagePanel.CardRarityEpic
{
	border: 1px solid #c16bff;
	box-shadow: 0px 0px 8px 0px #c16bff44;
}

.CardImagePanel.CardRarityLegendary
{
	border: 1px solid #ffd54a;
	box-shadow: 0px 0px 8px 0px #ffd54a44;
}

.CardImagePanel.CardRarityMythical
{
	border: 1px solid #ff3b30;
	box-shadow: 0px 0px 8px 0px #ff3b3044;
}

.CardImagePanel.CardRaritySSS
{
	border: 1px solid #7dfcff;
	box-shadow: 0px 0px 12px 0px #7dfcff88;
}

.CardImage
{
	width: 100%;
	height: 100%;
}

.CardBorder
{
	width: 100%;
	height: 100%;
}

.CardNamePanel
{
	width: 350px;
	height: 30px;
	horizontal-align: center;
	margin-top: 10px;
}

.CardNamePanel Label
{
	font-size: 22px;
	color: white;
	font-weight: bold;
	text-align: center;
	vertical-align: center;
	width: 100%;
	text-overflow: shrink;
	text-shadow: 0px 0px 5px 3.0 black;
	font-family: Reaver;
	letter-spacing: 0.4px;
	color: gradient(linear, 0% 0%, 0% 100%, from(#faf6ef), to(#e9c57c));
}

.CardRarityCommon.CardNamePanel Label
{
	color: gradient(linear, 0% 0%, 0% 100%, from(#faf6ef), to(#b8bec7));
}

.CardRarityRare.CardNamePanel Label
{
	color: gradient(linear, 0% 0%, 0% 100%, from(#faf6ef), to(#5aa8ff));
}

.CardRarityEpic.CardNamePanel Label
{
	color: gradient(linear, 0% 0%, 0% 100%, from(#faf6ef), to(#c16bff));
}

.CardRarityLegendary.CardNamePanel Label
{
	color: gradient(linear, 0% 0%, 0% 100%, from(#faf6ef), to(#ffd54a));
}

.CardRarityMythical.CardNamePanel Label
{
	color: gradient(linear, 0% 0%, 0% 100%, from(#faf6ef), to(#ff3b30));
}

.CardRaritySSS.CardNamePanel Label
{
	color: gradient(linear, 0% 0%, 100% 0%, from(#ff4df0), color-stop(0.35, #7dfcff), color-stop(0.65, #ffd84a), to(#7cff6b));
}

.Limer
{
	horizontal-align: center;
	width: 300px;
	height: 12px;
	background-image: url("s2r://panorama/images/tooltips/limer_png.vtex");
	background-size: 100%;
}

.CardStats
{
	flow-children: down;
	width: 280px;
	horizontal-align: center;
	margin-top: 10px;
}

.CardBaseBonusLine
{
	flow-children: right;
	margin-bottom: 10px;
}

.CardBaseBonusPin
{
	vertical-align: top;
	margin-top: 2px;
	margin-left: 4px;
	margin-right: 4px;
	width: 12px;
	height: 14px;
	background-image: url("s2r://panorama/images/tooltips/dot_png.vtex");
	background-size: 100%;
}

.CardBaseBonusLabel
{
	color: white;
	font-size: 16px;
	text-overflow: shrink;
}

.BundleData
{
	margin-top: 20px;
	flow-children: down;
	width: 330px;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 20px;
}

.BundleHeaderTop
{
	width: 330px;
	height: 30px;
}

.BundleDataHeader
{
	horizontal-align: center;
	width: 100%;
	color: white;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
	brightness: 5;
	font-weight: semi-bold;
	font-family: Reaver;
	font-size: 16px;
	vertical-align: center;
}

.BundleBG
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/tooltips/bundle_bg_png.vtex");
	background-size: 100%;
	brightness: 10;
	z-index: -1;
}

.BundleDataHeader.CardRarityCommon
{
	wash-color: #6f7781;
}

.BundleDataHeader.CardRarityRare
{
	wash-color: #2c6fbe;
}

.BundleDataHeader.CardRarityEpic
{
	wash-color: #7d3bb3;
}

.BundleDataHeader.CardRarityLegendary
{
	wash-color: #b68a12;
}

.BundleDataHeader.CardRarityMythical
{
	wash-color: #a51c14;
}

.BundleDataHeader.CardRaritySSS
{
	wash-color: #7dfcff;
}

.BundleBG.CardRarityCommon
{
	wash-color: #6f7781;
}

.BundleBG.CardRarityRare
{
	wash-color: #2c6fbe;
}

.BundleBG.CardRarityEpic
{
	wash-color: #7d3bb3;
}

.BundleBG.CardRarityLegendary
{
	wash-color: #b68a12;
}

.BundleBG.CardRarityMythical
{
	wash-color: #a51c14;
}

.BundleBG.CardRaritySSS
{
	wash-color: #7dfcff;
}

.BundleDataDescription
{
	color: white;
	font-weight: thin;
	padding: 10px;
	width: 330px;
	border: 1px solid rgba(128, 128, 128, 0.1);
	border-top: 0px solid white;
	background-color: rgba(0, 0, 0, 0.9);
}

.EffectsCard
{
	flow-children: down;
	width: 330px;
	horizontal-align: center;
	margin-top: 10px;
}

.CardBaseEffectPanel
{
	flow-children: down;
	width: 100%;
}

.CardBaseEffectPanelHeader
{
	width: 330px;
	height: 25px;
	horizontal-align: center;
	background-image: url("s2r://panorama/images/tooltips/active_effect_png.vtex");
	background-size: 100%;
	flow-children: right;
}

.CardBaseEffectPanelName
{
	width: 220px;
	color: white;
	font-size: 16px;
	vertical-align: center;
	margin-left: 10px;
	text-shadow: 0px 0px 5px 3.0 black;
	text-overflow: shrink;
	font-weight: semi-bold;
	color: rgb(253, 214, 37);
	text-shadow: 0px 0px 5px 3.0 black;
}

.CardBaseEffectPanelCooldownPanel
{
	flow-children: right;
	margin-left: 4px;
	margin-right: 8px;
	horizontal-align: right;
	vertical-align: center;
}

.CardBaseEffectPanelCooldownIcon
{
	width: 18px;
	height: 18px;
	background-image: url("s2r://panorama/images/status_icons/ability_cooldown_icon_psd.vtex");
	background-size: 100%;
}

.CardBaseEffectPanelCooldownLabel
{
	margin-left: 2px;
	font-size: 16px;
	font-weight: semi-bold;
	color: white;
	text-shadow: 0px 0px 5px 3.0 black;
}

.CardBaseEffectPanelBody
{
	width: 330px;
	horizontal-align: center;
	text-align: left;
	padding: 10px;
	font-size: 16px;
	color: white;
	border: 1px solid rgba(128, 128, 128, 0.1);
	border-top: 0px solid white;
	background-color: rgba(0, 0, 0, 0.9);
}

